html, body {
    margin: 0px;
    padding: 0px;
    /*background-color: #261C2C;*/
    color: #E7F6F2;
    font-family: "Helvetica", sans-serif;
}
html {
    background-image: url(images/comp-back.jpg);
}

a:link {color: #67e6c4;}
a:visited {color: #67e6c4;}
a:hover {color: #67e6c4;}


header {
    background-color: #3E2C41;
    padding: 0px 1vw;
    padding-bottom: 2vh;
    border-style: solid;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border-color: white;
}

header, article {
    margin: 3% 12vw;
}

article {
    margin-bottom: 10vh;
}

    header h1 {
    text-align: center;
    }


    .header-extra {
        padding-left: 5vw;
    }


#mainTitle {
    margin-top: 2em;
    text-decoration: underline;
    font-weight: bold;
    
}

article {
    background-color: #362540;
    padding: 1vh 2vw;
    border: double;
    border-radius: 1vw;
    
}

#description ul {
    list-style-type: square;
}
#description ul li {
    margin: 5vh 0vw;
}

#description ul li p {
    width: 80%;
    font-size: 1.1em
}

ol li p {
    font-size: 1.1em;
}

#studying {
    width: 30%;
    float: right;
}

#fail {
    width: 30%;
    float: right;
}

#table_of_contents{
    text-align: center;
    margin-top: 4em;
}
    #table_of_contents ul{
        display: inline-block;
        text-align: left;
        margin-right: 5em;
        list-style-type: circle;
    }

#link-navi {
    text-align: center;
    font-family: monospace;
    font-size: 2em;
}

#messy-books {
    display: inline-block;
    float: right;
    position: relative;
    margin-left: 4vw;
    margin-right: ;
    width: 20%;
    height: auto;
    clear: left;
}
#messy {
    margin-right: ;
}

footer {
    background-color: #3E2C41;
    
    align-content: center;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 50%;
    
    left: 50%;
    transform: translateX(-50%);
    
    border-style: dashed;
    border-bottom-style: solid;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.hide::selection {
    background-color: #362540;
}