html, body {
    margin: 0px;
    padding: 0px;
}

header, article {
    margin: 3% 200px;
}

    header h1 {
    text-align: center;
    }

#mainTitle {
    margin-top: 2em;
}

li p {
    width: 75%;
    font-size: 1.1em
}