html, body {
    margin: 0px;
    padding: 0px;
}

header, article {
    margin: 3% 200px;
}

    header h1 {
    text-align: center;
    }

#mainTitle {
    margin-top: 2em;
}

li p {
    width: 75%;
    font-size: 1.1em
}

#table_of_contents{
    text-align: center;
    margin-top: 4em;
}
    #table_of_contents ul{
        display: inline-block;
        text-align: left;
        margin-right: 5em;
    }
